body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

.burger-menu {
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: #616161;
  margin: 6px 15px;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-8px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-7px, -5px);
}
.burger-menu-list{
  background: linear-gradient(45deg, #f0ece6, #F1F1F2);
  box-shadow: 0 0 15px 0;
  width: 100%;
  height: 300px;
  position: absolute;
  display: none;
  left: 0;
  top: 0;

  .burger-container{
    margin: 0 auto;
    max-width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    .burger-list{
      list-style-type: none;
      li{
        padding-top: 20px;
        font-size: 18px;
        text-align: center;
        :hover{
          text-decoration: underline;
        }
        a{
          color: #333;
          text-decoration: none;
        }
      }
    }
  }
}

.show{
  display: block;
}

.header{
  width: 100%;
  margin: 0 auto;
  padding: 0;
  height: 115px;

  .header-content{
    max-width: 1450px;
    height: 115px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .burger-menu {
      @media (max-width: 700px) {
        display: block;
        cursor: pointer;
      }
    }

    .header-content_box{
      width: 1450px;
      display: flex;
      justify-content: space-between;

      @media (max-width: 700px) {
        display: none;
      }
    }

    .header-logo{
      font-family: Homemade Apple, sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: normal;
      padding-left: 80px;
    }

    .header-links{
      display: flex;
      align-items: center;
      ul{
        display: flex;
      }

      .link {
        margin-left: 50px;
        color: black;
        font-size: 18px;
        font-family: Gilroy, sans-serif;
      }

      .class{
        margin-left: 25px ;
      }
    }

    .gift-finder_btn{
      padding: 5px 24px;
      margin-right: 35px;
      color: #F7941E;
      font-size: 18px;
      border-radius: 5px;
      background: white;
      border: 1px solid #F7941E;
    }
    .gift-finder_btn:hover{
      background: #ede9e4;
      cursor: pointer;
    }
  }
}

.section-body{
  width: 100%;
  margin: 0 auto;

  .find-gift_container{
    max-width: 1450px;
    margin: 0 auto;
    display: flex;

    @media (max-width: 1490px){
      padding: 0 15px 0 15px;
    }
  }

  .find-gift_block{
    width: 50%;
    background: #F1F1F2;

    .find-gift{
      padding: 156px 126px 135px 162px;
      margin: 0 auto;

      @media (max-width: 1250px){
        padding: 70px 80px 70px 100px;
      }

      @media (max-width: 1063px){
        padding: 40px 50px 40px 70px;
      }

      .find-gift_title{
        font-size: 56px;
        font-family: Gilroy, sans-serif;

        @media (max-width: 945px) {
          font-size: 40px;
        }

        @media (max-width: 845px) {
          font-size: 30px;
        }

        @media (max-width: 800px) {
          font-size: 25px;
        }
      }

      .find-gift_text{
        font-size: 20px;
        padding-top: 35px;
        font-family: Gilroy, sans-serif;
        font-weight: normal;

        @media (max-width: 800px) {
          font-size: 15px;
        }
      }

      .find-gift_btn{
        padding: 20px 25px;
        background: #F7941E;
        font-size: 18px;
        border-radius: 5px;
        border: none;
        margin-top: 55px;
        color: white;
        font-family: Gilroy, sans-serif;

        @media (max-width: 845px) {
          font-size: 13px;
        }
      }

      .find-gift_btn:hover{
        background: #d68006;
        cursor: pointer;
      }
    }
  }

  .find-gift_photo{
    width: 50%;
    .find-gift-photo_img{
      height: 100%;
      width: 100%;
    }
  }

  .learn-more-gift_container{
    max-width: 1450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 1490px){
      padding: 0 15px 0 15px;
    }

    .learn-more_photo{
      width: 50%;
      .learn-more-photo_img{
        height: 100%;
        width: 100%;
      }
    }

    .learn-more_block{
      width: 50%;
      background: #F1F1F2;

      .learn-more{
        padding: 164px 166px 104px 102px;

        @media (max-width: 1250px){
          padding: 120px 130px 80px 70px;
        }

        @media (max-width: 1063px){
          padding: 90px 100px 50px 50px;
        }
        
        @media (max-width: 878px) {
          padding: 40px 60px 40px 50px;
        }


        .learn-more_title{
          font-family: Gilroy, sans-serif;
          font-size: 32px;
          font-weight: normal;
        }

        .learn-more_text{
          font-family: Gilroy, sans-serif;
          font-weight: normal;
          font-size: 20px;
          padding-top: 30px;
          text-align: justify;

          @media (max-width: 945px) {
            font-size: 15px;
          }

          @media (max-width: 743px) {
            padding-top: 15px;
          }
        }

        .learn-more_btn{
          margin-top: 40px;
          padding: 19px 45px;
          font-size: 18px;
          border: 1px solid #F7941E;
          color: #F7941E;
          border-radius: 5px;

          @media (max-width: 845px) {
            font-size: 13px;
          }

          @media (max-width: 743px) {
            margin-top: 15px;
          }
        }
        .learn-more_btn:hover{
          background: #ede9e4;
          cursor: pointer;
        }
      }
    }
  }

  .all-gifts{
    text-align: center;
    padding-top: 100px;

    @media (max-width: 899px) {
      padding-top: 50px;
    }

    .all-gifts_title{
      font-family: Gilroy, sans-serif;
      font-weight: normal;
      font-size: 32px;
    }
  }

  .advertisement{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    .advertisement_title{
      font-family: Gilroy, sans-serif;
      font-weight: normal;
      font-size: 18px;
    }
  }

  .pictures_container{
    width: 100%;
    margin: 0 auto;
    padding-top: 70px;

    @media (max-width: 1170px){
      padding-top: 40px;
    }

    @media (max-width: 899px) {
      padding-top: 0;
    }

    .pictures{
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 135px;
      justify-content: center;

      @media (max-width: 899px) {
        padding-bottom: 50px;
      }

      .picture-info_container:not(:first-child){
        margin-left: 30px;
      }

      .picture-info_container{
        @media (max-width: 1170px){
          margin-left: 30px;
        }
      }

      .picture-container{
        height: 270px;

        @media (max-width: 1170px){
          margin-top: 30px;
        }
      }

      .pictures-info{
        background: #FAFAFA;
        height: 165px;
        position: relative;

        .pictures-info_text{
          font-family: Gilroy, sans-serif;
          font-size: 20px;
          font-weight: normal;
          padding-top: 25px;
          padding-left: 25px;
        }

        .see-more_link{
          font-size: 14px;
          font-family: Roboto, sans-serif;
          position: absolute;
          bottom: 25px;
          left: 25px;
          color: black;
        }
        .see-more_link:hover{
          text-decoration: underline;
        }
      }
      .picture-info_container:hover{
        filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
        .pictures-info{
          background: white;
        }
      }
    }
  }

  .get-us_container{
    width: 100%;
    height: 240px;
    margin: 0 auto;
    background: #F7941E;

    .get-us{
      max-width: 1000px;
      height: 240px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 1040px) {
        padding: 0 15px 0 15px;
      }

      @media (max-width: 721px) {
        justify-content: center;
      }

      .get-us_title{
        font-family: Gilroy, sans-serif;
        font-size: 32px;
      }
      .get-us_text{
        font-family: Gilroy, sans-serif;
        font-size: 32px;
        font-weight: normal;
      }

      .get-us_btns{
        display: flex;

        .get-us-find-gift_btn{
          padding: 13px 25px;
          background: #231F20;
          border-radius: 5px;
          font-family: Gilroy, sans-serif;
          font-size: 18px;
          color: white;
          font-weight: lighter;
          margin-right: 15px;
          border: none;
        }
        .get-us-find-gift_btn:hover{
          background: black;
          cursor: pointer;
        }

        .get-us-how-works_btn{
          padding: 12.5px 30px;
          background: #F7941E;
          border: 1px solid #000000;
          border-radius: 5px;
          font-family: Gilroy, sans-serif;
        }
        .get-us-how-works_btn:hover{
          background: #cf720e;
          cursor: pointer;
        }
      }
    }
  }

  .best-blogs_container{
    max-width: 1450px;
    margin: 0 auto;
    padding-bottom: 80px;

    .best-blog_title{
      width: 700px;
      margin: 0 auto;
      text-align: center;

      .best-blog-ever_title{
        font-size: 32px;
        font-family: Gilroy, sans-serif;
        font-weight: normal;
        padding-top: 90px;
      }
      .try-our-blog_title{
        font-size: 18px;
        font-family: Gilroy, sans-serif;
        padding-top: 25px;
        font-weight: normal;
      }
    }

    .wish_container{
      width: 1200px;
      margin: 0 auto;
      padding-top: 75px;
      display: flex;

      .wish_photo{
        img{
          height: 100%;
        }
      }


      .wish_block{
        background: #231F20;
        padding: 63px 200px 49px 78px;

        .name{
          font-size: 14px;
          color: #FFFFFF;
          font-family: Gilroy, sans-serif;
          font-weight: normal;
        }

        .wish-title_block{

          .wish_title{
            font-family: Gilroy, sans-serif;
            font-weight: normal;
            font-size: 48px;
            color: #FFFFFF;
            padding-top: 30px;
          }
        }
        .wish-read-more{
          padding-top: 70px;

          .read-more_link{
            font-size: 18px;
            font-family: Gilroy, sans-serif;
            font-weight: normal;
            color: #FFFFFF;
          }
          .read-more_link:hover{
            text-decoration: underline;
          }
        }
      }
    }
    .wish-info_container{
      max-width: 1200px;
      margin: 0 auto;
      padding-top: 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @media (max-width: 1139px) {
        justify-content: center;
      }

      .database-wishes{
        width: 570px;
        height: 270px;

        .database-wishes_block{
          width: 500px;
          .database-wishes_title{
            padding-top: 50px;
            padding-left: 50px;
            font-family: Gilroy, sans-serif;
            font-size: 24px;
          }
          .database-wishes_text{
            font-family: Gilroy, sans-serif;
            font-size: 18px;
            padding-top: 20px;
            padding-left: 50px;
            font-weight: normal;
          }

          .database-wishes_link{
            padding-top: 30px;
            .database-wishes_read-more{
              font-size: 14px;
              font-family: Gilroy, sans-serif;
              font-weight: normal;
              color: black;
              padding-left: 50px;
            }
            .database-wishes_read-more:hover{
              text-decoration: underline;
            }
          }

        }
      }
      .database-wishes:hover{
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
      }

      .interesting-info-wishes{
        width: 570px;
        height: 270px;
        @media (max-width: 1139px) {
          margin-top: 30px;
        }

      }
      .interesting-info-wishes:hover{
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
      }

      .interesting-info-wishes_block{
        width: 530px;

        .interesting-info-wishes_title{
          padding-top: 50px;
          padding-left: 50px;
          font-family: Gilroy, sans-serif;
          font-size: 24px;
        }

        .interesting-info-wishes_text{
          font-family: Gilroy, sans-serif;
          font-size: 18px;
          padding-top: 20px;
          padding-left: 50px;
          font-weight: normal;
        }
        .interesting-info-wishes_link{
          padding-top: 30px;
          .interesting-info-wishes_read-more{
            font-size: 14px;
            font-family: Gilroy, sans-serif;
            font-weight: normal;
            color: black;
            padding-left: 50px;
          }
          .interesting-info-wishes_read-more:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.footer{
  width: 100%;
  margin: 0 auto;
  height: 410px;
  background: #FAFAFA;

  .footer_container{
    width: 1000px;
    margin: 0 auto;

    .footer_links{
      width: 700px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      padding-top: 105px;

      .footer-home_link{
        font-size: 14px;
        font-family: Gilroy, sans-serif;
        color: black;
        font-weight: bold;
      }
      .footer-home_link:hover{
        text-decoration: underline;
      }
      .footer-about_link{
        margin-left: 80px;
        font-size: 14px;
        font-family: Gilroy, sans-serif;
        color: black;
        font-weight: bold;
      }
      .footer-about_link:hover{
        text-decoration: underline;
      }
      .footer_logo{
        font-size: 18px;
        color: #F7941E;
        font-family: Homemade Apple, sans-serif;
      }
      .footer-service_link{
        margin-right: 80px;
        font-size: 14px;
        font-family: Gilroy, sans-serif;
        color: black;
        font-weight: bold;
      }
      .footer-service_link:hover{
        text-decoration: underline;
      }
      .footer-blog_link{
        font-size: 14px;
        font-family: Gilroy, sans-serif;
        color: black;
        font-weight: bold;
      }
      .footer-blog_link:hover{
        text-decoration: underline;
      }
    }
    hr{
      margin-top: 40px;
      border: 1px solid #000000;
    }
  }

  .networks_block{
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 55px;

    .facebook_logo:hover{
      cursor: pointer;
    }

    .twitter_logo:hover{
      cursor: pointer;
    }

    .instagram_logo:hover{
      cursor: pointer;
    }

    .youtube_logo:hover{
      cursor: pointer;
    }

    .pinterest_logo:hover{
      cursor: pointer;
    }
  }

  .privacy_block{
    margin: 0 auto;
    padding-top: 70px;
    text-align: center;
    .privacy_title{
      font-size: 14px;
      font-family: Gilroy, sans-serif;
      font-weight: normal;
    }
  }
}










