@font-face {
  font-family: Gilroy;
  src: url("/Gilroy-FREE");
}
body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  height: 115px;
}
.header .header-content {
  max-width: 1450px;
  height: 115px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header .header-content .header-content_box {
  width: 1450px;
  display: flex;
  justify-content: space-between;
}
.header .header-content .header-logo {
  font-family: Homemade Apple, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  padding-left: 80px;
}
.header .header-content .header-links {
  display: flex;
  align-items: center;
}
.header .header-content .header-links ul {
  display: flex;
}
.header .header-content .header-links .link {
  margin-left: 50px;
  color: black;
  font-size: 18px;
  font-family: Gilroy, sans-serif;
}
.header .header-content .header-links .class {
  margin-left: 25px;
}
.header .header-content .gift-finder_btn {
  padding: 5px 24px;
  margin-right: 35px;
  color: #F7941E;
  font-size: 18px;
  border-radius: 5px;
  background: white;
  border: 1px solid #F7941E;
}
.header .header-content .gift-finder_btn:hover {
  background: #ede9e4;
  cursor: pointer;
}

.section-body {
  width: 100%;
  margin: 0 auto;
}
.section-body .find-gift_container {
  max-width: 1450px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.section-body .find-gift_block {
  width: 50%;
  background: #F1F1F2;
}
.section-body .find-gift_block .find-gift {
  width: 430px;
  margin: 0 auto;
}
.section-body .find-gift_block .find-gift .find-gift_title {
  font-size: 56px;
  padding-top: 150px;
  font-family: Gilroy, sans-serif;
}
.section-body .find-gift_block .find-gift .find-gift_text {
  font-size: 20px;
  padding-top: 35px;
  font-family: Gilroy, sans-serif;
  font-weight: normal;
}
.section-body .find-gift_block .find-gift .find-gift_btn {
  padding: 20px 25px;
  background: #F7941E;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  margin-top: 55px;
  color: white;
  font-family: Gilroy, sans-serif;
}
.section-body .find-gift_block .find-gift .find-gift_btn:hover {
  background: #d68006;
  cursor: pointer;
}
.section-body .find-gift_photo {
  width: 50%;
}
.section-body .find-gift_photo .find-gift-photo_img {
  height: 100%;
  width: 100%;
}
.section-body .learn-more-gift_container {
  max-width: 1450px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.section-body .learn-more-gift_container .learn-more_photo {
  width: 50%;
}
.section-body .learn-more-gift_container .learn-more_photo .learn-more-photo_img {
  height: 100%;
  width: 100%;
}
.section-body .learn-more-gift_container .learn-more_block {
  width: 50%;
  background: #F1F1F2;
}
.section-body .learn-more-gift_container .learn-more_block .learn-more {
  width: 440px;
  margin: 0 auto;
}
.section-body .learn-more-gift_container .learn-more_block .learn-more .learn-more_title {
  font-family: Gilroy, sans-serif;
  font-size: 32px;
  font-weight: normal;
  padding-top: 160px;
}
.section-body .learn-more-gift_container .learn-more_block .learn-more .learn-more_text {
  font-family: Gilroy, sans-serif;
  font-weight: normal;
  font-size: 20px;
  padding-top: 30px;
}
.section-body .learn-more-gift_container .learn-more_block .learn-more .learn-more_btn {
  margin-top: 40px;
  padding: 19px 45px;
  font-size: 18px;
  border: 1px solid #F7941E;
  color: #F7941E;
  border-radius: 5px;
}
.section-body .learn-more-gift_container .learn-more_block .learn-more .learn-more_btn:hover {
  background: #ede9e4;
  cursor: pointer;
}
.section-body .all-gifts {
  text-align: center;
  padding-top: 100px;
}
.section-body .all-gifts .all-gifts_title {
  font-family: Gilroy, sans-serif;
  font-weight: normal;
  font-size: 32px;
}
.section-body .advertisement {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
}
.section-body .advertisement .advertisement_title {
  font-family: Gilroy, sans-serif;
  font-weight: normal;
  font-size: 18px;
}
.section-body .pictures_container {
  width: 100%;
  margin: 0 auto;
  padding-top: 70px;
}
.section-body .pictures_container .pictures {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 135px;
  justify-content: center;
}
.section-body .pictures_container .pictures .picture-info_container:not(:first-child) {
  margin-left: 30px;
}
@media (max-width: 1170px) {
  .section-body .pictures_container .pictures .picture-info_container {
    margin-left: 30px;
  }
}
.section-body .pictures_container .pictures .picture-container {
  height: 270px;
}
.section-body .pictures_container .pictures .pictures-info {
  background: #FAFAFA;
  height: 165px;
  position: relative;
}
.section-body .pictures_container .pictures .pictures-info .pictures-info_text {
  font-family: Gilroy, sans-serif;
  font-size: 20px;
  font-weight: normal;
  padding-top: 25px;
  padding-left: 25px;
}
.section-body .pictures_container .pictures .pictures-info .see-more_link {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  position: absolute;
  bottom: 25px;
  left: 25px;
  color: black;
}
.section-body .pictures_container .pictures .pictures-info .see-more_link:hover {
  text-decoration: underline;
}
.section-body .pictures_container .pictures .picture-info_container:hover {
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
}
.section-body .pictures_container .pictures .picture-info_container:hover .pictures-info {
  background: white;
}
.section-body .get-us_container {
  width: 100%;
  height: 240px;
  margin: 0 auto;
  background: #F7941E;
}
.section-body .get-us_container .get-us {
  width: 1000px;
  height: 240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-body .get-us_container .get-us .get-us_title {
  font-family: Gilroy, sans-serif;
  font-size: 32px;
}
.section-body .get-us_container .get-us .get-us_text {
  font-family: Gilroy, sans-serif;
  font-size: 32px;
  font-weight: normal;
}
.section-body .get-us_container .get-us .get-us_btns {
  display: flex;
}
.section-body .get-us_container .get-us .get-us_btns .get-us-find-gift_btn {
  padding: 13px 25px;
  background: #231F20;
  border-radius: 5px;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  color: white;
  font-weight: lighter;
  margin-right: 15px;
  border: none;
}
.section-body .get-us_container .get-us .get-us_btns .get-us-find-gift_btn:hover {
  background: black;
  cursor: pointer;
}
.section-body .get-us_container .get-us .get-us_btns .get-us-how-works_btn {
  padding: 12.5px 30px;
  background: #F7941E;
  border: 1px solid #000000;
  border-radius: 5px;
  font-family: Gilroy, sans-serif;
}
.section-body .get-us_container .get-us .get-us_btns .get-us-how-works_btn:hover {
  background: #cf720e;
  cursor: pointer;
}
.section-body .best-blogs_container {
  width: 1450px;
  height: 1025px;
  margin: 0 auto;
}
.section-body .best-blogs_container .best-blog_title {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}
.section-body .best-blogs_container .best-blog_title .best-blog-ever_title {
  font-size: 32px;
  font-family: Gilroy, sans-serif;
  font-weight: normal;
  padding-top: 90px;
}
.section-body .best-blogs_container .best-blog_title .try-our-blog_title {
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  padding-top: 25px;
  font-weight: normal;
}
.section-body .best-blogs_container .wish_container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 75px;
  display: flex;
}
.section-body .best-blogs_container .wish_container .wish_block {
  background: #231F20;
  width: 800px;
  height: 370px;
}
.section-body .best-blogs_container .wish_container .wish_block .name {
  font-size: 14px;
  color: #FFFFFF;
  font-family: Gilroy, sans-serif;
  font-weight: normal;
  padding-top: 60px;
  padding-left: 80px;
}
.section-body .best-blogs_container .wish_container .wish_block .wish-title_block {
  width: 550px;
}
.section-body .best-blogs_container .wish_container .wish_block .wish-title_block .wish_title {
  font-family: Gilroy, sans-serif;
  font-weight: normal;
  font-size: 48px;
  color: #FFFFFF;
  padding-top: 30px;
  padding-left: 80px;
}
.section-body .best-blogs_container .wish_container .wish_block .wish-read-more {
  padding-top: 70px;
}
.section-body .best-blogs_container .wish_container .wish_block .wish-read-more .read-more_link {
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  font-weight: normal;
  color: #FFFFFF;
  padding-left: 80px;
}
.section-body .best-blogs_container .wish_container .wish_block .wish-read-more .read-more_link:hover {
  text-decoration: underline;
}
.section-body .best-blogs_container .wish-info_container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}
.section-body .best-blogs_container .wish-info_container .database-wishes {
  width: 570px;
  height: 270px;
}
.section-body .best-blogs_container .wish-info_container .database-wishes .database-wishes_block {
  width: 500px;
}
.section-body .best-blogs_container .wish-info_container .database-wishes .database-wishes_block .database-wishes_title {
  padding-top: 50px;
  padding-left: 50px;
  font-family: Gilroy, sans-serif;
  font-size: 24px;
}
.section-body .best-blogs_container .wish-info_container .database-wishes .database-wishes_block .database-wishes_text {
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  padding-top: 20px;
  padding-left: 50px;
  font-weight: normal;
}
.section-body .best-blogs_container .wish-info_container .database-wishes .database-wishes_block .database-wishes_link {
  padding-top: 30px;
}
.section-body .best-blogs_container .wish-info_container .database-wishes .database-wishes_block .database-wishes_link .database-wishes_read-more {
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  font-weight: normal;
  color: black;
  padding-left: 50px;
}
.section-body .best-blogs_container .wish-info_container .database-wishes .database-wishes_block .database-wishes_link .database-wishes_read-more:hover {
  text-decoration: underline;
}
.section-body .best-blogs_container .wish-info_container .database-wishes:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}
.section-body .best-blogs_container .wish-info_container .interesting-info-wishes {
  width: 570px;
  height: 270px;
}
.section-body .best-blogs_container .wish-info_container .interesting-info-wishes:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}
.section-body .best-blogs_container .wish-info_container .interesting-info-wishes_block {
  width: 530px;
}
.section-body .best-blogs_container .wish-info_container .interesting-info-wishes_block .interesting-info-wishes_title {
  padding-top: 50px;
  padding-left: 50px;
  font-family: Gilroy, sans-serif;
  font-size: 24px;
}
.section-body .best-blogs_container .wish-info_container .interesting-info-wishes_block .interesting-info-wishes_text {
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  padding-top: 20px;
  padding-left: 50px;
  font-weight: normal;
}
.section-body .best-blogs_container .wish-info_container .interesting-info-wishes_block .interesting-info-wishes_link {
  padding-top: 30px;
}
.section-body .best-blogs_container .wish-info_container .interesting-info-wishes_block .interesting-info-wishes_link .interesting-info-wishes_read-more {
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  font-weight: normal;
  color: black;
  padding-left: 50px;
}
.section-body .best-blogs_container .wish-info_container .interesting-info-wishes_block .interesting-info-wishes_link .interesting-info-wishes_read-more:hover {
  text-decoration: underline;
}

.footer {
  width: 100%;
  margin: 0 auto;
  height: 410px;
  background: #FAFAFA;
}
.footer .footer_container {
  width: 1000px;
  margin: 0 auto;
}
.footer .footer_container .footer_links {
  width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 105px;
}
.footer .footer_container .footer_links .footer-home_link {
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  color: black;
  font-weight: bold;
}
.footer .footer_container .footer_links .footer-home_link:hover {
  text-decoration: underline;
}
.footer .footer_container .footer_links .footer-about_link {
  margin-left: 80px;
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  color: black;
  font-weight: bold;
}
.footer .footer_container .footer_links .footer-about_link:hover {
  text-decoration: underline;
}
.footer .footer_container .footer_links .footer_logo {
  font-size: 18px;
  color: #F7941E;
  font-family: Homemade Apple, sans-serif;
}
.footer .footer_container .footer_links .footer-service_link {
  margin-right: 80px;
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  color: black;
  font-weight: bold;
}
.footer .footer_container .footer_links .footer-service_link:hover {
  text-decoration: underline;
}
.footer .footer_container .footer_links .footer-blog_link {
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  color: black;
  font-weight: bold;
}
.footer .footer_container .footer_links .footer-blog_link:hover {
  text-decoration: underline;
}
.footer .footer_container hr {
  margin-top: 40px;
  border: 1px solid #000000;
}
.footer .networks_block {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
}
.footer .networks_block .facebook_logo:hover {
  cursor: pointer;
}
.footer .networks_block .twitter_logo:hover {
  cursor: pointer;
}
.footer .networks_block .instagram_logo:hover {
  cursor: pointer;
}
.footer .networks_block .youtube_logo:hover {
  cursor: pointer;
}
.footer .networks_block .pinterest_logo:hover {
  cursor: pointer;
}
.footer .privacy_block {
  margin: 0 auto;
  padding-top: 70px;
  text-align: center;
}
.footer .privacy_block .privacy_title {
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  font-weight: normal;
}

/*# sourceMappingURL=style.css.map */
